body {
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0 auto;
    height: 70px;
    text-align: center;
    color: rgb(235, 255, 205);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(26, 11, 45);
}


.container_input {
    display: flex;
    justify-content: center;
    height: 78vh;
    background-color: rgb(235, 255, 205);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.weigth .input_weight {
    margin: 15px;
    padding: 5px;
    background-color: rgb(165, 255, 105);
}

.heigth .input_height {
    margin: 15px;
    padding: 5px;
    background-color: rgb(165, 255, 105);
}

.button_calculator {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    padding: 5px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    color: rgb(29, 4, 53);
    background-color: rgb(165, 255, 105);
    border-radius: 5px;
}

.button_calculator:hover {
    background-color: rgb(235, 255, 205);

}

.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(235, 255, 205);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(26, 11, 45);

}